.title {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Open Sans", sans-serif;
  color: var(--theme-color3-rgba);
  font-size: var(--font-size-title);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 2rem;

  & .images {
    display: inherit;
    align-content: center;
    justify-items: center;
    width: 40%;

    & .photo {
      object-fit: cover;
      min-width: 150px;
      width: 75%;
      max-width: 365px;
      height: auto;
    }
  }

  & .info {
    display: flex;
    flex-direction: column;
    word-break: break-word;
    gap: 1rem;
    font-size: 1rem;
    margin-inline: auto;
    width: 60%;

    & p {
      margin-block: 0;
      text-align: justify;
      text-indent: 2rem; /* Adiciona um recuo de 2rem na primeira linha de cada parágrafo */
      line-height: 20px;

      &::first-letter {
        font-size: 2em;
        font-weight: bold;
        font-family: Roboto, "Open Sans", sans-serif;
        color: var(--theme-color3-rgba);
      }
    }
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
    & .images {
      height: clamp(40svw, 30%, 277vw);
      width: 100%;
    }
    & .info {
      width: 100%;
    }
  }
}