.item {
  padding-inline: 0.5rem;
  &:hover {
    color: var(--theme-color2-rgba);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--theme-color3-rgba);
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
    transition: color 0.3s ease, filter 0.3s ease;
  }
}

.active {
  /* color: var(--theme-color6-rgba); */
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--theme-color3-rgba);
  pointer-events: none;
}