.title {
  display: flex;
  justify-content: center;
  font-family: Roboto, "Open Sans", sans-serif;
  color: var(--theme-color3-rgba);
  font-size: var(--font-size-title);
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.24));
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  font-family: "Open Sans", sans-serif;

  & .image {
    display: inherit;
    align-content: center;
    justify-items: center;

    & .photo {
      object-fit: cover;
      min-width: 150px;
      width: 75%;
      max-width: 365px;
      height: auto;
      border-radius: 50%;
    }
  }

  & .curriculum {
    display: grid;
    word-break: break-word;
    gap: 1rem;
    margin-inline: auto;

    & .intro {
      display: inherit;
      gap: .3rem;
      color: var(--theme-color3-rgba);
      font-family: Roboto, Poppins, "Open Sans", sans-serif;
      font-size: var(--font-size-title);
      /* line-height: 40px; */
      margin-top: 2rem;
      & .degrees {
        font-size: var(--font-size-h);
      }
    }

    & .docs {
      display: inherit;
      font-size: 1em;
      gap: .3rem;
      color: var(--theme-color3-rgba);

      & .specialty {
        font-weight: bold;
      }
    }
    & .content {
      text-align: justify;
      vertical-align: baseline;
      text-indent: 2rem; /* Adiciona um recuo de 2rem na primeira linha de cada parágrafo */
      color: var(--theme-color1-rgba);
      display: inherit;
      gap: 1rem;
      margin-top: 2rem;
      font-size: var(--font-size-p);

      & .description {
        gap: 1rem;
        display: inherit;

        & p {
          margin-block: 0;
          text-align: justify;
          text-indent: 2rem; /* Adiciona um recuo de 2rem na primeira linha de cada parágrafo */
          line-height: 20px;

          &::first-letter {
            font-size: 2em;
            font-weight: bold;
            font-family: Roboto, "Open Sans", sans-serif;
            color: var(--theme-color3-rgba);
          }
        }
      }

      & .fellows {
        margin-top: 2rem;
      }

      & ul {
        position: relative;
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin-left: -8px;

        & li::before {
          position: absolute;
          left: 0;
          content: "•";
          color: var(--theme-color3-rgba);
          font-weight: bold;
          display: inline-block;
          width: 4em;
          margin-left: -1.3em;
          scale: 2;
        }
      }
    }
  }
}
